// Niri Glow Part: Default (Classic Clean, No Glow Focus Ring)
layout {
    focus-ring {
        off
        width 0
        active-color "#b6c7e7"
        inactive-color "#131315"
        urgent-color "#ffb4ab"
    }
    shadow {
        on
        softness 10
        spread 4
        offset x=0 y=0
        color "#00000070"
    }
}
